{{!< layout}}
<div id="general-page-root"></div>
<script src="/js/generalPage.bundle.js"></script>
<script type="application/javascript">
    $(function() {
        generalPage.render();
    });
</script>
