{{!< layout}}
<div id="issue-panel-root"></div>
<script src="/js/issuePanel.bundle.js"></script>
<script type="application/javascript">
    $(function() {
        issuePanel.render();
    });
</script>
