<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="ap-local-base-url" content="{{localBaseUrl}}">
  <title>{{title}}</title>
    <link rel="stylesheet" href="//unpkg.com/@atlaskit/css-reset@1.0.2" />
    <link rel="stylesheet" href="//unpkg.com/@atlaskit/reduced-ui-pack@2.5.0" />
    <link rel="stylesheet" href="/css/addon.css" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://connect-cdn.atl-paas.net/all.js" type="text/javascript"></script>
    <script>
        // To ensure backwards compatibility e.g. IE11
        // You will need to either embed the svg onto your page or load it via ajax like this
        const ajax = new XMLHttpRequest();
        ajax.open("GET", "//unpkg.com/@atlaskit/reduced-ui-pack@2.2.0/dist/icons-sprite.svg", true);
        ajax.send();
        ajax.onload = function(e) {
            let div = document.createElement("div");
            div.innerHTML = ajax.responseText;
            document.body.insertBefore(div, document.body.childNodes[0]);
        }
    </script>
</head>
<body>
    {{{body}}}
</body>
</html>
